/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$midnight-blue: #0a0e17 !default;
$neon-purple: #bd00ff !default;
$gold: #ffd700 !default;
$slate-gray: #1e293b !default;
$soft-white: #f8f9fa !default;

// Standard AL-Folio mappings
$red-color: #ff3636 !default;
$red-color-dark: #b71c1c !default;
$orange-color: #f29105 !default;
$blue-color: $neon-purple !default; // Replacing primary blue with our neon purple
$blue-color-dark: darken($neon-purple, 20%) !default;
$cyan-color: $gold !default; // Replacing cyan with gold for highlights
$light-cyan-color: lighten($gold, 25%);
$green-color: #00ab37 !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: $neon-purple !default;
$light-purple-color: lighten($purple-color, 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: $gold !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: $midnight-blue; // Deep background for dark mode
$grey-900: $slate-gray;

$white-color: $soft-white !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: lighten($midnight-blue, 5%) !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
